<h2>Your Orders History</h2>

<% if (orders && orders.length > 0) { %> <% orders.forEach(order => { %>
<div style="border: 1px solid #ccc; padding: 10px; margin: 10px">
  <p><strong>Order ID:</strong> <%= order._id %></p>
  <p
    style="
      background-color: #ccc;
      width: 15%;
      padding: 8px;
      border-radius: 15px;
      align-items: center;
    "
  >
    <strong>Status:</strong> <%= order.status %>
  </p>
  <p><strong>Date:</strong> <%= order.createdAt.toDateString() %></p>

  <ul>
    <% order.items.forEach(i => { %>
    <li><%= i.productId.name %> - Quantity: <%= i.quantity %></li>
    <% }) %>
  </ul>

  <p><strong>Total Price:</strong> $<%= order.totalPrice %></p>
</div>
<% }) %> <% } else { %>
<p>No orders found.</p>
<% } %>
