<style>
  .uploadbtn{
    text-decoration: none;
    font-size: 16px;
   
  }
  .btn{
     padding: 6px;
     padding-bottom: 4px;
    background-color: rgb(53, 207, 169);
    border-radius: 7px;
    font-weight: bold;
    
  }
</style>
<%- include("../layouts/header") %>

<h2>All Products</h2>

<button class="btn"><a href="/products/add" class="uploadbtn">+ Add New Product</a></button>
<table border="1" cellpadding="10">
<thead>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Description </th>
    <th>Category</th>
    <th>Stock</th>
    <th>Image</th>
  </tr>
</thead>
<tbody>
  <% if (products.length > 0) { %>
   <% products.forEach(p => { %>
    <tr>
      <td><%= p.name %></td>
      <td><%=p.price  %> $</td>
      <td><%= p.description %></td>
      <td><%= p.category %></td>
      <td><%= p.stock %></td>
      <td> <img src="/imges/<%=p.image  %> "width="80" ></td>
    </tr>

   <% }) %>  
   <% } else { %>
    <tr>
      <td colspan="6">No Product Data found</td>
    </tr>
  <% } %>
</tbody>

</table>


<%- include("../layouts/footer") %>
