<%- include("../layouts/header") %>

<h2>All Products</h2>

<ul>
  <% products.forEach(p => { %>
    <li>
      <strong><%= p.name %></strong> - $<%= p.price %>  
      <br>
      <small><%= p.description %></small>
    </li>
  <% }) %>
</ul>

<%- include("../layouts/footer") %>
